.main {
    display: flex;
    max-width: 763px;
    min-height: 17rem;
    flex-direction: column;
    gap: 1.5rem;
    margin: 5.5rem auto;
}

.infoTasks {
    display: flex;
    justify-content: space-between;
    margin-inline: 1rem;
}

.infoTasks .amountTasks {
    color: var(--blue);
    font-weight: 700;
}

.amountTasks, .tasksCompleted {
    text-align: center;
    line-height: 1.6;
}

.amountTasks span, .tasksCompleted span {
    display: inline-block;
    line-height: 1.6;
    
    background: var(--gray-400);
    color: var(--gray-100);

    margin-left: .5rem;
    border-radius: 999px;
    padding: 2px 12px;
    font-size: .75rem;
}

.infoTasks .tasksCompleted {
    color: var(--purple);
    font-weight: 700;
}

